<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marketprice.marketpriceapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitleBar">
        <activity
            android:name=".MenuActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".SigninActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".HomeAdminActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".HomeSalesActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".DetailBarang" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".Sales.InputBarangActivity" />
        <activity android:name=".Sales.DaftarBarangSalesActivity" />
        <activity android:name=".Admin.DaftarPenjualActivity" />
        <activity android:name=".Admin.DaftarBarangGudangActivity" />
        <activity android:name=".Admin.RegistrasiSalesActivity" />
        <activity
            android:name=".ShowSearch"
            android:theme="@style/NoTitleBar"></activity>
        <activity android:name=".HomeUserActivity">

        </activity>
        <activity android:name=".Report.ReportSalesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>